<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1>Crear negocio</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card class="center mat-elevation-z8">
        <form>    
        <p>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Nombre del negocio</mat-label>
            <input matInput placeholder="Nombre del negocio" [(ngModel)]="business.name" name="name">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>NIT</mat-label>
            <input type="number" matInput placeholder="NIT del negocio" [(ngModel)]="business.nit" name="nit">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Email" [(ngModel)]="business.mail" name="email">
          </mat-form-field>
        </p>
        <p><button mat-raised-button color="primary" (click)=save()>Guardar negocio</button></p>
      </form>   
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>