.center {
    text-align: center;
    vertical-align: middle;
}

mat-header-cell {
    justify-content:flex-end;
   }

form {
    display: inline-block;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.full-width, button{
    width: 100%;
}

[hidden] {
    display: none !important;
  }