<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Ver negocios</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div [hidden]="!displayTable">
      <mat-card>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let e"> {{e.id}} </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let e"> {{e.name}} </td>
          </ng-container>
          <ng-container matColumnDef="nit">
            <th mat-header-cell *matHeaderCellDef> NIT </th>
            <td mat-cell *matCellDef="let e"> {{e.nit}} </td>
          </ng-container>
          <ng-container matColumnDef="mail">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let e"> {{e.mail}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-card>
    </div>

    <div *ngIf="businessList">
      <div *ngIf="!businessList.length" class="center">
        <mat-card>
          <h1>{{messageEmpty | uppercase}}</h1>
          <mat-icon matListIcon>highlight_off</mat-icon>
        </mat-card>
      </div>
    </div>

  </mat-card-content>
</mat-card>