table {
    width: 80%;
    margin-left:auto; 
    margin-right:auto;
}

th.mat-sort-header-sorted {
    color: black;
}
 
.mat-icon {
    font-size: 100px;
    margin-left: -webkit-calc(1% - 100px);    
}

.center {
    text-align: center;
    vertical-align: middle;
}