@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
h1 {
    font-family: 'Lato Regular Bold', sans-serif;
    font-size: 16px;
}

h2 {
    font-family: 'Lato Regular Bold', sans-serif;
    font-size: 14px;
}

p {
    font-family: 'Lato Regular', sans-serif;
    font-size: 14px;
}

.page {
    display: flex
}

.page__sidebar {
    width: 300px;
}

.page__content {
    flex: 1
}

.icon {
    padding: 0 14px;
}

.spacer {
    flex: 1 1 auto;
}

