<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav class="app-sidenav">
        <mat-nav-list>
            <a mat-list-item routerLink="/" routerLinkActive="active-list-item" (click)="sidenav.toggle()">
                <h2 matLine>Ver negocios</h2>
                <mat-icon matListIcon>view_list</mat-icon>
            </a>
            <a mat-list-item routerLink="/crear" routerLinkActive="active-list-item" (click)="sidenav.toggle()">
                <h2 matLine>Crear negocio</h2>
                <mat-icon matListIcon>add_box</mat-icon>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <h1>{{title}}</h1>
            <span class="spacer"></span>
            <a class="icon" href="https://druo.com">
                <img alt="DRUO" src="../assets/Logo-DRUO-Web-Color-White.png">
            </a>

        </mat-toolbar>
        <div class="app-content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>