/* You can add global styles to this file, and also import other style files */

//@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~@angular/material/theming';
@include mat-core();
$my-app-primary: mat-palette($mat-blue-grey);
$my-app-accent : mat-palette($mat-pink, 500, 900, A100);
$my-app-warn : mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);
.snackbar-error {
    color: white;
    background-color: rgba(223, 24, 51, 0.918);
}
.snackbar-success {
    color: white;
    background-color: rgba(0, 110, 255, 0.918);
}

.mat-simple-snackbar-action {
    color: white;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}